body {
	background-color: #fffff0;
	background-image: url("../img/canvas.jpg");
	margin: 0;
	font-family: Charter, Georgia, serif;
	font-size: 24px;
	line-height: 140%;
}

#wrapper {
	width: 100%;
}
#content {
	margin: 2rem;
}

header
{
    margin: 1rem 2rem 1rem;
    height: 40px;
    border-bottom: 2px solid #000000;
}
h1 {
	margin: 0;
	font-size: 49px;
	line-height: 100%;
	padding: 0;
	font-weight: bold;
	float: left;
}
header{
	margin-left: 2rem;
	padding-top: 12px;
	font-weight: normal;
	float: left;
}
nav {
	float: right;
}
h2 {
	font-size: 36px;
	margin: 1em 0;
	font-weight: bold;
	font-style: italic;
	line-height: 100%;
}
h3 {
	font-size: 30px;
	font-weight: bold;
	position: relative;
	bottom: 2px;
	margin: 0;
}
p {
	margin: 0;
}
footer {
	clear: both;
	padding: 1rem;
	margin: 0 2rem;
	font-size: 16px;
	line-height: 140%;
	border-top: 2px solid #000000;
}
a:hover {
	text-decoration: underline;
}

.cartitem {
	display: flex;
	display: -webkit-flex;
	margin-bottom: 20px;
	width: 100%;
}
.cartimg {
	width: 200px;
	margin-right: 100px;
}
.cartinfo {
	width: 140px;
	margin: 0;
	text-align: right;
}
p.cartprice {
	font-weight: bold;
}
p.cartremove {
	font-size: 16px;
}
.cartsummary {
	display: block;
	float: right;
	text-align: right;
	margin: 1rem 0;
}
.cartsummary a {
	text-decoration: underline;
}
#carttotal {
	font-weight: bold;
}

.thickline {
	clear: both;
	border-bottom: 5px solid #000000;
}
.thinline {
	clear: both;
	border-bottom: 1px solid #000000;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

@media screen and (min-width: 1024px) {
	#wrapper {
		width: 1024px;
		margin: 0 auto;
	}
	
	.cartdetails {
		width: 600px;
	}
}